*{
    margin: 0;
    padding: 0;  
    font-family: 'Times New Roman', Times, serif;
}

#cuerpo{
    background-color: darkseagreen;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: min(50em, 100%);
    margin: 1em auto;
    padding: 2em 2em;
}

h1{
    font-size: 85px;
    text-align: center;
}

.lab{
    font-size: 45px;
    text-align: center;
    margin: 0.25em 0;
}

.cajaError{
    text-align: center;
    margin: 0.25em 0;
}

input{
    font-size: 25px;
    height: 45px;
    width: 50%;
    margin: 0.5em auto;
}

p{
    font-size: 40px;
    text-align: center;
}

button{
    width: 85px;
    width: 120px;
    font-size: 2em;
    margin-top: 1em;
    text-align: center;
    margin: 0.5em auto;
}

select{
    height: 45px;
    width: 500px;
    font-size: 25px;
    margin: 0.5em auto;
}